html {
  box-sizing: border-box;
  background-color: #f0eee8;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  display: inline-block;
  text-decoration: none;
  margin: 0 0 1rem;
  max-width: 20em;
  padding: 1rem;
  background-color: #dcd4cd;
  border: 3px solid #9a816d;
  border-radius: 10px;
  text-align: left;
}

.link-card:hover {
  background-color: #cabdb2;
}

.link-card:hover .btn {
  background-color: #512200;
}

.link-card p {
  color: #785439;
  font-weight: 700;
  font-size: 1rem;
  margin-top: 0;
}

.link-card h2 {
  font-family: Dosis, sans-serif;
  color: #512200;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: .4em;
}

.link-card dl {
  list-style-type: none;
  color: #785439;
  font-weight: 700;
  font-size: .875rem;
  display: inline-block;
}

.link-card dd {
  font-style: italic;
  display: inline-block;
  margin: 0;
  width: 45%;
}

.link-card dt {
  display: inline-block;
  width: 45%;
}

nav {
  border-top: 2px solid #9a816d;
  border-bottom: 2px solid #9a816d;
}

.btn-wrap {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.btn {
  font-family: Dosis, sans-serif;
  font-style: normal;
  font-weight: bold;
  margin: 1rem 0 0;
  padding: .4em .75em .5em;
  color: #f0eee8;
  background-color: #785439;
  border-radius: 8px;
  text-align: center;
}
