html {
  box-sizing: border-box;
  background-color: #f0eee8;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-cards {
  display: inline-block;
  margin: 0 0 1rem;
  max-width: 20em;
  padding: 1rem;
  background-color: #dcd4cd;
  border: 3px solid #9a816d;
  border-radius: 10px;
  text-align: left;
}

.link-cards p {
  color: #785439;
  font-size: 1rem;
}

.link-cards h1 {
  font-family: Dosis, sans-serif;
  color: #512200;
  font-size: 1.5rem;
}

.link-cards ul {
  list-style-type: none;
  color: #785439;
  font-weight: bold;
  font-size: .875rem;
}
